.carousel-component{
    max-height: 288px;
    position: sticky;
    z-index: 2;
    .carousel-item{
        width: 100%;
        img{
            object-fit: cover;
            height: 288px;
            width: 100%;
        }
    }
}