.latest-news-component{
    font-family: 'Roboto';
    margin-top:10px;
    max-width: 960px;
    margin: 0 auto;
    .latest-news-container{
        padding-top: 5px;
        background-color: #ffffff;
        padding: 10px 20px;
    }
    .see-more{
        text-align: center;
        margin: 20px 0;
        cursor:pointer;
        span{
            padding: 10px 100px;
            background-color: #ffba00;
            border-radius: 10px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
        }
    }
}