.footer-component {
  background-color: #ffba00;
  font-family: "Roboto";
  color: #ffffff;
  .footer-container {
    padding: 20px;
    max-width: 936px;
    margin-left: auto;
    margin-right: auto;  
    .footer-top {
      padding-bottom: 7px;
      border-bottom: 1px solid #ece8e8;
      .footer-top-item {
        padding-left: 20px;
        .title {
          font-weight: 700;
          font-size: 16px;
          color: #2c2c2c;
        }
        ul {
          padding-left: 0;
          li {
            list-style-type: none;
            color: #ece8e8;
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
    }
    .footer-bottom {
      padding-top: 7px;
      text-align: center;
      color: #ece8e8;
      font-weight: 400;
      font-size: 14px;
    }
  }
}
