.latest-news-item{
    cursor: pointer;
    padding: 12px;
    text-align: center;
    border: 1px solid rgb(213, 204, 204);
    &:hover{
        box-shadow: 0 1px 8px 0 rgb(0 0 0 / 30);
    }
    img{
        display: block;
        margin: auto;
        transition: transform .2s;
    }
    .latest-news-item-description{
        .title{
            height: 40px !important;
        }
        .price{
            color: #d0021b;
            font-size: 15px;
        }
        .location{
            font-size: 10px;
            color:#b0a8a8;
            font-style: italic;
        }
    }
}
.list-news-wrapper{
    // padding: 8px 12px;
    font-family: 'Roboto';
    background-color: #ffffff;
    flex-grow: 1;
    .list-news-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        &:hover{
            box-shadow: 0 1px 8px 0 rgb(0 0 0 / 30)
        }
        .list-news-left{
            display: flex;
            padding: 12px 0;
            padding-left:8px;
            .list-news-image{
                margin-right: 12px;
                img{
                    width: 128px;
                    height: 128px;
                    object-fit: cover;
                }
            }
            .list-news-content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .list-news-content-top{
                    h1{
                        font-size: 15px;
                        line-height: 1.33;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .price{
                        color: #c90927;
                        font-weight: 600;
                        font-size: 16px
                    }
                }
                .list-news-content-bottom{
                    display: flex;
                    color: rgb(155, 155, 155);
                    font-size: 12px;
                    align-items: center;
                    font-weight: 400;
                    .name{
                        margin-right: 10px;
                        display: flex;
                        align-items: center;
                        span{
                            &:nth-child(1){
                                margin-right: 5px;
                            }
                        }
                    }
                    .tracking-time{
                        margin-right: 10px;
                    }
                }
            }
        }
        .list-news-right{
            padding:12px 0;
            padding-right: 8px;
            position: absolute;
            right: 0;
            bottom: 10px;
            color:#c90927;
        }
    }
}