.post-news-wrapper {
  font-family: "Roboto";
  width: 936px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  .post-news-container {
    background-color: #ffffff;
    .ant-row {
      .ant-col {
        &.post-news-col-first {
          padding: 20px 15px;
          .post-news-left {
            .image-default,
            .video-defalt {
              // width: 288px;
              height: 225px;
              border: 2px dotted #fe9900;
              background-color: #f4f4f4;
              border-radius: 4px;
              cursor: pointer;
              display: flex;
              justify-content: center;
              flex-direction: column;
              text-align: center;
              span {
                display: block;
                &:nth-child(1) {
                  font-size: 50px;
                  color: #fe9900;
                }
                &:nth-child(2) {
                  text-align: center;
                  color: #9b9b9b;
                  font-size: 12px;
                  padding-top: 3px;
                }
              }
            }
            .image-default {
              margin-bottom: 20px;
            }
          }
        }
        &.post-news-col-second {
          padding: 20px 15px;
          .post-news-right {
            .select-item {
              padding: 5px;
              border: 1px solid #cacaca;
              border-radius: 5px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .categories-left-top {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                span {
                  display: block;
                  &:nth-child(1) {
                    color: #9b9b9b;
                    font-size: 10px;
                  }
                  &:nth-child(2) {
                    color: #2c2c2c;
                    font-size: 14px;
                  }
                }
              }
            }
            .news-information {
              margin-top: 30px;
              .news-information-title {
                font-size: 1.125rem;
                font-weight: 700;
                color: #222;
              }
              .dynamic-filter {
                margin-top: 30px;
                .title-desc {
                  font-size: 1.125rem;
                  font-weight: 700;
                  color: #222;
                  .title-desc-title {
                    padding-bottom: 30px;
                    display: block;
                  }
                }
                .seller-infor {
                  .seller-infor-title {
                    font-size: 1.125rem;
                    font-weight: 700;
                    color: #222;
                    display: block;
                    padding-bottom: 30px;;
                  }
                }
              }
              .button-post-news{
                margin-top: 30px;
                display: flex;
                .preview{
                    width: 50%;
                    display: block;
                    text-align: center;
                    border:1px solid #fe9900;
                    padding:7px 0;
                    background-color: #ffffff;
                    color: #fe9900;
                    margin-right: 15px;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover{
                        background-color: #fe9900;
                        color: #ffffff
                    }
                }
                .post-news{
                    width: 50%;
                    display: block;
                    text-align: center;
                    border: 1px solid #fe9900;
                    padding:7px 0;
                    color: #ffffff;
                    background-color: #fe9900;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover{
                        background-color: #ffffff;
                        color: #fe9900;
                    }
                }
              }
            }
          }
        }
      }
    }
  }
}
